[Unit]
Description=Synchronize calendars and contacts
Documentation=https://vdirsyncer.readthedocs.org/

[Service]
ExecStart=/usr/bin/vdirsyncer sync
RuntimeMaxSec=30s
Restart=on-failure
