tests/storage/servers/*
!tests/storage/servers/__init__.py
!tests/storage/servers/radicale
!tests/storage/servers/skip
*.pyc
__pycache__
htmlcov
.coverage
build
env
*.egg-info
.cache
.eggs
.egg
.xprocess
dist
docs/_build/
vdirsyncer/version.py
.hypothesis
