*.pyc
__pycache__
htmlcov
.coverage
build
env
*.egg-info
.cache
.eggs
.xprocess
dist
tests/storage/dav/servers/*
!tests/storage/dav/servers/__init__.py
!tests/storage/dav/servers/radicale
docs/_build/
