repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-added-large-files
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.8.0"
    hooks:
      - id: mypy
        files: vdirsyncer/.*
        additional_dependencies:
          - types-setuptools
          - types-docutils
          - types-requests
          - types-atomicwrites
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.2.2'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: local
    hooks:
      - id: typos-syncroniz
        name: typos-syncroniz
        language: system
        # Not how you spell "synchronise"
        entry: sh -c "git grep -i syncroniz"
        files: ".*/.*"
      - id: typos-text-icalendar
        name: typos-text-icalendar
        language: system
        # It's "text/calendar", no "i".
        entry: sh -c "git grep -i 'text/icalendar'"
        files: ".*/.*"
