repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-added-large-files
      - id: debug-statements
  - repo: https://github.com/PyCQA/flake8
    rev: "4.0.1"
    hooks:
      - id: flake8
        additional_dependencies: [flake8-import-order, flake8-bugbear]
  - repo: https://github.com/psf/black
    rev: "22.1.0"
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.941"
    hooks:
      - id: mypy
        files: vdirsyncer/.*
        additional_dependencies:
          - types-setuptools
          - types-docutils
          - types-requests
          - types-atomicwrites
