repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-added-large-files
      - id: debug-statements
  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.9.1"
    hooks:
      - id: flake8
        additional_dependencies: [flake8-import-order, flake8-bugbear]
  - repo: https://github.com/psf/black
    rev: "21.5b0"
    hooks:
      - id: black
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.5.0
    hooks:
    -   id: reorder-python-imports
