# setuptools-scm includes everything tracked by git
prune docker
prune scripts
prune tests/storage/servers
prune tests/storage/etesync
recursive-include tests/storage/servers/radicale *
recursive-include tests/storage/servers/skip *

prune docs/_build
global-exclude *.py[cdo] __pycache__ *.so *.pyd
