include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include example.cfg
include build.sh

recursive-include docs *
recursive-include tests *
prune tests/storage/dav/servers
recursive-include tests/storage/dav/servers/radicale *

prune docs/_build
global-exclude *.py[cdo] __pycache__ *.so *.pyd
