Source: vdirsyncer-latest
Maintainer: Markus Unterwaditzer <markus-debianpkg@unterwaditzer.net>
Section: utils
Priority: extra
Build-Depends: debhelper (>= 9), python3-all, dh-virtualenv (>= 0.8)
Standards-Version: 4.0.0
Homepage: https://github.com/pimutils/vdirsyncer

Package: vdirsyncer-latest
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3, ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${python3:Depends}
Suggests: python3-requests-oauthlib
Description: Synchronize calendars and contacts
 Vdirsyncer synchronizes your calendars and addressbooks between two storages.
 The most popular purpose is to synchronize a CalDAV/CardDAV server with a local
 folder or file. The local data can then be accessed via a variety of programs,
 none of which have to know or worry about syncing to a server.
 .
 It aims to be for CalDAV and CardDAV what OfflineIMAP is for IMAP.
